<div class='shadow bg-light p-5 rounded'>
  <div class='text-center mb-5'>
    <h1><%= @post.title %></h1>

    <p class='text-muted'>
      <strong>Por <%= @post.author %></strong><br>
      <%= l @post.created_at, format: :long %>
    </p>
  </div>

  <div class='px-5'>
    <%# ATENÇÃO: Sempre que usarmos \n (como na linha abaixo), precisamos usar áspas duplas %>
    <%= @post.body.gsub("\n", '<br>').html_safe %>
  </div>
</div>

<div class='m-5'>
  <div class='text-center'>
    <h4>
      <%= pluralize(@post.comments.count, 'Comentário') %>

      <% if @post.comments.none? %>
        <span class='badge badge-success'>Seja o primeiro a comentar!</span>
      <% end %>
    </h4>
  </div>

  <div class='shadow-sm m-3 p-3 bg-light rounded'>
    <%= form_with model: @comment, local: true do |form| %>
      <%= form.hidden_field :post_id, value: @post.id %>

      <div class='form-group'>
        <%= form.label :author %>
        <%= form.text_field :author, class: 'form-control', required: true %>
      </div>

      <div class='form-group'>
        <%= form.label :body %>
        <%= form.text_area :body, class: 'form-control', required: true %>
      </div>

      <%= form.submit 'Enviar', class: 'btn btn-primary',
        data: { disable_with: 'Enviando...' } %>
    <% end %>
  </div>

  <% @comments.each do |comment| %>
    <div class='shadow-sm m-3 p-3 bg-light rounded'>
      <div class='row'>
        <div class='col'>
          <strong><%= comment.author %></strong>
        </div>

        <div class='col text-right'>
          <em data-toggle='tooltip' data-placement='top' title='<%= l comment.created_at, format: :long %>'>
            <%= time_ago_in_words comment.created_at %> atrás
          </em>
        </button>
        </div>
      </div>

      <hr>

      <%# ATENÇÃO: Sempre que usarmos \n (como na linha abaixo), precisamos usar áspas duplas %>
      <%= sanitize(comment.body.gsub("\n", '<br>')).html_safe %>
    </div>
  <% end %>
</div>
